{% extends 'layout.html' %}

/* A1 login box */

* {
 margin:0;
 padding:0;
 appearance:none;
  }

  .login-wrapper{
  width:100%;
  }

  .loginbox{
  width: 100%;
  margin:auto;
  border:2px solid lightgrey;
  border-radius:5px;
  margin: 20px 0;
  padding:20px;
  }

  .image-wrapper{
  display:block;
  align-items:center;
  }

.wrapper {
    display:flex;
    align-items:center;
    width:100%;
}

.w40{
width:40%;
}

img{
   width:100%;
   height:auto;
   object-fit:cover;
}

/* A3 notification bell */

#message-bell {
  position:relative;
}

#toggleBox{
    position: absolute;
    top: 60px;
    padding: 10px;
    width:200px;
    right:0;
}

#messagelist{
    list-style-type:none;
}

#messagelist li {
    font-size:9pt;
    padding:10px;
}

#messagelist li a {
color:black;
}

.hidden{
display:none;
visibility:none;
}

#toggleBox ul {

padding:0;
margin:0;
width:200px;
margin-right:10px;
}
