{% extends 'layout.html' %}

* {
 margin:0;
 padding:0;
 appearance:none;
  }


  .loginbox{
  width: 100%;
  margin:auto;
  border:2px solid lightgrey;
  border-radius:5px;
  margin: 20px 0;
  padding:20px;
  }

  .image-wrapper{
  justify-content: center;
  display:flex;
  }

.wrapper {
    display:flex;
    align-items:center;
    width:100%;
}

.w40{
width:40%;
}

img{
   width:30%;
   height:30%;
}

.flex
{
justify-content:center;
}