{% extends 'layout.html' %}

{% block content %}
    <div class="form-container p-3">
        <form action="{{url_for('formular_page')}}" method="post" enctype="multipart/form-data">
            <h5>Zu vertretender Lehrer: {{ username }}</h5>

            <div class="fp-absence-lessons mb-3 mt-4">
                <h5>Vertretungsvorschläge</h5>
                <div class="label-container fp-absence-grid">
                    <label for="">Tag/Datum</label>
                    <label for="">UStd</label>
                    <label for="">UStd bis</label>
                    <label for="">Fach</label>
                    <label for="">Klasse</label>
                    <label for="">Vertretender Lehrer</label>
                    <label for="">Vertretungsaufgaben</label>
                    <span class="circle-button text-success last-col" onclick="fpAddAbsenceLesson()">
                        <i class="fa-solid fa-circle-plus"></i>
                    </span>
                </div>
                <div class="input-container fp-absence-grid border rounded">
                    <input type="date" name="date" class="form-control"
                           {% if not allow_edit %}
                           disabled {% endif %}>
                    <input type="number" name="std_from" class="form-control" {% if not allow_edit %}
                           disabled {% endif %}>
                    <input type="number" name="std_to" class="form-control" {% if not allow_edit %}
                           disabled {% endif %}>
                    <input type="text" name="subject" class="form-control" {% if not allow_edit %}
                    disabled {% endif %}>
                    <input type="text" name="subclass" class="form-control" {% if not allow_edit %}
                    disabled {% endif %}>
                    <select type="text" name="subteacher" class="form-control" {% if not allow_edit %}
                    disabled {% endif %}>
                        <option><option>
                        {% for user in users %}
                            <option value="{{users.userid}}">{{user.firstname}} {{user.lastname}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="subcontent" class="form-control" {% if not allow_edit %}
                    disabled {% endif %}>
                    <span class="circle-button text-danger" onclick="fpRemoveAbsenceLesson(this)">
                        <i class="fa-solid fa-circle-minus"></i>
                    </span>
                </div>
            </div>

            <div class="fp-row-container">

                <div class="absence-reasons mb-3 p-2 w-50">
                    <h5>Abwesenheitsgründe</h5>
                    {% for reason in absence_reasons %}
                        <div class="form-check">
                            <label class="form-check-label" for="absence-reasons-{{ reason.id }}">
                                {{ reason.descr }}
                            </label>
                            <input class="form-check-input hide-text" type="radio" name="absence-reasons" id="absence-reasons-{{ reason.id }}" value="{{ reason.id }}">
                            {% if reason.descr.lower() == 'sonstiges' %}
                                <textarea class="form-control" name="other" id="absence-reasons-text-{{ reason.id }}" rows="3"></textarea>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="w-50">
                    <div class="affected-departments mb-3 p-2">
                        <h5>Betroffene Bereiche</h5>
                        <div class="fp-department-grid label-container">
                            {% for department in affected_departments %}
                                <label class="form-check-label" for="affected-departments-{{ department.id }}">{{ department.shortcut }}</label>
                            {% endfor %}
                        </div>
                        <div class="fp-department-grid input-container">
                            {% for department in affected_departments %}
                                <span>
                                    <input type="radio" class="form-check-input" name="affected-departments" id="affected-departments-{{ department.id }}" value="{{ department.id }}">
                                </span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="file-upload mb-3 p-2">
                        <h5>Datei Upload</h5>
                        <input class="form-control" name="addfile" type="file" id="formFile" accept="application/pdf">
                    </div>
                </div>

            </div>
            {% if allow_comment %}
                <div class="col-md-4 mb-3" id="fp-comment-box">
                     <textarea class="form-control fp-comment mt-3" rows="3" placeholder="Ihre Nachricht"></textarea>
                </div>
            {% endif %}
            {% if allow_edit %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endif %}
        </form>
    </div>
{% endblock %}