{% extends 'layout.html' %}

{% block content %}
    <div class="op-request-grid p-3">
        <div class="op-request-grid-row op-grid-labels">
            <div class="op-create-entry">
                <a class="btn btn-success" href="{{ default['menu_items']['formular']['path'] }}">
                    <i class="fa-solid fa-file-circle-plus"></i>
                    Erstellen
                </a>
            </div>
            <div class="op-open-pdf op-grid-center">
            </div>
            <div class="op-firstname">
                <div class="">Vorname</div>
            </div>
            <div class="op-lastname">
                <div class="">Nachname</div>
            </div>
            <div class="op-department op-grid-center">
                <div class="">Abtl.</div>
            </div>
            <div class="op-status op-grid-right">
                <div class="">Status</div>
            </div>
            <div class="op-reason op-grid-right">
                <div class="">Abw. Grund</div>
            </div>
            <div class="op-date op-grid-right">
                <div class="">Datum (von - bis)</div>
            </div>
        </div>
        <form class="op-request-grid-row op-grid-filter" action="{{ url_for('home') }}">
            <div class="op-apply-filter">
                <button type="submit" class="btn btn-info">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Suchen
                </button>
            </div>
            <div class="op-open-pdf op-grid-center">
            </div>
            <div class="op-firstname">
                <input type="text" class="form-control" name="firstname">
            </div>
            <div class="op-lastname">
                <input type="text" class="form-control" name="lastname">
            </div>
            <div class="op-department op-grid-center dropdown">
                <button type="button" class="btn bg-white dropdown-toggle border" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    &nbsp;?
                </button>
                <div class="dropdown-menu dropdown-menu-end p-1">
                    {% for department in departments %}
                        <div class="op-department op-dropdown-item mb-1">
                            <input class="form-check-input" type="checkbox" value="{{ department.id }}" id="flexCheckDepartment{{ department.id }}" name="departments">
                            <label class="form-check-label" for="flexCheckDepartment{{ department.id }}">
                                {{ department.shortcut }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="op-status op-grid-right dropdown">
                <button type="button" class="btn bg-white dropdown-toggle border" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Auswählen
                </button>
                <div class="dropdown-menu dropdown-menu-end p-1">

                    {% for status in status_types %}
                        <div class="op-status op-dropdown-item mb-1 badge {{ status.color }}">
                            <input class="form-check-input" type="checkbox" value="{{ status.id }}" id="flexCheckStatus{{ status.id }}" name="status">
                            <label class="form-check-label" for="flexCheckStatus{{ status.id }}">
                                {{ status.descr}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="op-reason op-grid-right dropdown">
                <button type="button" class="btn bg-white dropdown-toggle border" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Auswählen
                </button>
                <div class="dropdown-menu dropdown-menu-end p-1">
                    {% for reason in absence_reasons %}
                        <div class="op-department op-dropdown-item mb-1">
                            <input class="form-check-input" type="checkbox" value="{{ reason.id }}" id="flexCheckDepartment{{ reason.id }}" name="reasons">
                            <label class="form-check-label" for="flexCheckDepartment{{ reason.id }}">
                                {{ reason.descr }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="op-date op-grid-right">
                <input type="date" class="form-control" name="date-from">
                <input type="date" class="form-control" name="date-to">
            </div>
        </form>
        {% for form in form_list %}
            <div class="op-request-grid-row op-grid-rows custom-box custom-grid">
                <div class="op-open-entry">
                    <a class="btn btn-primary" href="{{ url_for('formular_page') }}?formatid={{ form.formatid }}">
                        <i class="fa-solid fa-arrow-right"></i>
                        Öffnen
                    </a>
                </div>
                <div class="op-open-pdf op-grid-center">
                    <a class="icon-button" href="{{ url_for('formular_pdf') }}?formatid={{ form.formatid }}">
                        <i class="fa-solid fa-file-pdf"></i>
                    </a>
                </div>
                <div class="op-firstname">
                    <div class="p-2">{{ form.user.firstname }}</div>
                </div>
                <div class="op-lastname">
                    <div class="p-2">{{ form.user.firstname }}</div>
                </div>
                <div class="op-department op-grid-center">
                    <div class="p-2">
                        {% if dep_dict[form.formatid|string] is not none: %}
                            {{ dep_dict[form.formatid|string]|join(' ') }}
                        {% endif %}
                    </div>
                </div>
                <div class="op-status op-grid-right">
                    <div class="badge {{ form.statusrel.color }} p-2">{{ form.statusrel.descr }}</div>
                </div>
                <div class="op-reason op-grid-right">
                    {% if form.absensereasons == 5 %}
                        <div class="p-2">{{ form.other }}</div>
                    {% else %}
                        <div class="p-2">{{ form.absense.descr }}</div>
                    {% endif %}
                </div>
                <div class="op-date op-grid-right">
                    <div class="p-2">{{ form.sublessons[0].lessondate.strftime("%d.%m.%Y") }} - {{ form.sublessons[form.sublessons|length - 1].lessondate.strftime("%d.%m.%Y") }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}