body, html {
    height: 100vh;
    width: 100vw;
}

.main-layout {
    display: flex;
    height: 100%;
}

.page {
    width: calc(100% - 260px);
}
.content {
    height: calc(100% - 50px);
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    background-color: rgba(0, 0, 0, .05);
}

.menu * {
    color: #fff;
}

.menu.sidebar {
    width: 260px;
    background: rgb(91, 155, 213);
    padding: 10px;
}

.menu.sidebar img {
    height: initial;
    width: 40%;
}

.menu.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    background: rgb(77, 139, 197);
    font-size: 25px;
}
.menu.topbar > * {
    margin-right: 15px;
}

.menu .home-link {
    display: flex;
    text-decoration: none;
}

.nav-item {
    border-radius: 5px;
}
.nav-item:hover {
    background: #00000047;
    color: #fff;
}
.nav-item *:hover {
    color: #fff;
}