.op-request-grid {
    display: grid;
    grid-template-columns: [first-col] 100px 50px auto auto 30px auto auto [last-col] auto;
    padding: 0 5px;
    margin-bottom: 5px;
}

.op-request-grid-row {
    /* display: grid;
    grid-template-columns: [first-col] 100px 50px auto auto 30px auto auto [last-col] auto;
    padding: 0 5px;
    margin-bottom: 5px; */
    display: contents;
}
.op-request-grid-row > * {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* outline: 1px solid red; */
}
.op-grid-labels.op-request-grid-row > * {
    align-items: flex-end;
}
.op-grid-rows.op-request-grid-row > * {
    padding: 0.25rem;
}
.op-request-grid-row > .op-grid-center {
    justify-content: center;
}

.op-request-grid-row > .op-grid-right {
    justify-content: flex-end;
}

.op-grid-labels {
    font-weight: 700;
}

.op-open-entry .btn {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.op-open-entry .btn i {
    margin-right: 0.25rem;
}
.op-grid-labels .op-open-entry .btn {
    padding: 3px 7px;
    margin-bottom: 10px;
}

.op-grid-rows .op-department {
    font-weight: 600;
}