.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}

.icon-button:hover {
    background: #00000047;
}

.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.circle-button.text-danger:hover {
    color: rgb(193, 19, 36) !important
}

.circle-button.text-success:hover {
    color: rgb(13, 107, 63) !important
}

input.hide-text + textarea {
    display: none;
}

input.hide-text:checked + textarea {
    display: initial;
}

* {
    margin: 0;
    padding: 0;
    appearance: none;
}


.loginbox {
    width: 100%;
    margin: auto;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
}

.image-wrapper {
    justify-content: center;
    display: flex;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.w40 {
    width: 40%;
}

img {
    width: 30%;
    height: 30%;
}

.flex {
    justify-content: center;
}

.errorbutton {
    display: flex;
    justify-content: center;
}

.errorbutton a:hover {
    color: white;
}

.errortext {
    color: red;
    text-align: center;
    position: relative;
}

.error-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center;
}

.fimg {
    padding: 0.25rem;
    background-color: #fff;
    max-width: 100%;
    height: auto;
}

.fimg-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fdesign {
    font-family: Roboto;
}