.custom-box {
    background: #0000000a;
    border: 1px solid #00000024;
    border-radius: .375rem;
}
.custom-box.custom-grid > *:first-child {
    background: #0000000a;
    border-top: 1px solid #00000024;
    border-left: 1px solid #00000024;
    border-bottom: 1px solid #00000024;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}
.custom-box.custom-grid > :not(:last-child):not(:first-child) {
    background: #0000000a;
    border-top: 1px solid #00000024;
    border-bottom: 1px solid #00000024;
    border-radius: 0;
}
.custom-box.custom-grid > *:last-child {
    background: #0000000a;
    border-top: 1px solid #00000024;
    border-right: 1px solid #00000024;
    border-bottom: 1px solid #00000024;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}

.icon-button:hover {
    background: #00000047;
}

.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.circle-button.text-danger:hover {
    color: rgb(193, 19, 36) !important
}

.circle-button.text-success:hover {
    color: rgb(13, 107, 63) !important
}

input.hide-text + textarea {
    display: none;
}

input.hide-text:checked + textarea {
    display: initial;
}

* {
    margin: 0;
    padding: 0;
    appearance: none;
}


.loginbox {
    width: 100%;
    margin: auto;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
}

.lp-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.image-wrapper {
    justify-content: center;
    display: flex;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.w40 {
    width: 40%;
}

img {
    width: 30%;
    height: 30%;
}

.flex {
    justify-content: center;
}

.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.error-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fimg {
    padding: 0.25rem;
    background-color: #fff;
    max-width: 100%;
    height: auto;
}

.fimg-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fdesign {
    font-family: Roboto;
}