{% extends 'layout.html' %}

{% block content %}
<div class="configuration-component">

    <h1>Benutzer {{action_title}}</h1>

    <div class="manage-menu">
      <h4>Menü</h4>
      <a type="button" class="btn btn-primary" href="/config/roles">Verwaltung: Rollen</a>
      <a type="button" class="btn btn-primary" href="/config/users">Verwaltung: Benutzer</a>
      <a type="button" class="btn btn-primary" href="/config">Verwaltung: Übersicht</a>
    </div>
    <br>

        <div class="config-section-title">
            <h2>{{user.username}}</h2>
        </div>

        <div class="manage-user">
          <form action="{{post_url}}" method="post">
            <label for="userid">ID:</label><br>
            <input type="text" id="userid" name="userid" value="{{user.userid}}"><br>

            <label for="username">Benutzername:</label><br>
            <input type="text" id="username" name="username" value="{{user.username}}"><br>

            <label for="pwd">Passwort:</label><br>
            <input type="password" id="pwd" name="pwd" value="{{user.pwd}}"><br>

            <label for="firstname">Vorname:</label><br>
            <input type="text" id="firstname" name="firstname" value="{{user.firstname}}"><br>

            <label for="lastname">Nachname:</label><br>
            <input type="text" id="lastname" name="lastname" value="{{user.lastname}}"><br>

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value="{{user.email}}"><br>

            <button type="submit" class="btn btn-primary float-right">Hinzufügen</button>
          </form>
        </div>
</div>
{% endblock %}