<div class="configuration-component">

    <h1>Konfiguration</h1>

        <div class="config-section-title">
            <p>Benutzer Verwalten</p>
        </div>

        <div class="manage-users">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Rolle</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr class="user-entry">
                    <td>1</td>
                    <td>username</td>
                    <td>Max</td>
                    <td>Mustermann</td>
                    <td>maxMustermann@asd.asd</td>
                    <td>Lehrer</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary">Editieren</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger">Löschen</button>                                
                            </div>
                            <div class="col-sm-4">
                              <button type="button" class="btn btn-secondary">Password zurücksetzen</button>                                
                          </div>
                        </div>
                    </td>
                  </tr>

                </tbody>
              </table>        
        </div>
        
        <button type="button" class="btn btn-primary">Hinzufügen</button>    

</div>