<html>
    <head>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.2.0-web/css/all.css', _external=True) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2-dist/css/bootstrap.css', _external=True) }}">
        <script src="{{url_for('static', filename='bootstrap-5.2.2-dist/js/bootstrap.bundle.js', _external=True)}}"></script>

        {% for css_file in default['css_files']: %}
            <link rel="stylesheet" href="{{ url_for('static', filename=('css/' + css_file), _external=True) }}">
	    {% endfor %}
        {% for js_file in default['js_files']: %}
            <script src="{{url_for('static', filename=('js/' + js_file), _external=True)}}"></script>
	    {% endfor %}
    </head>
    <body>
        {% if not hide_menu %}
            <div class="main-layout">
                <div class="menu sidebar">

                    <a href="/" class="home-link pb-2 pt-1 mb-3 border-bottom">
                        <img src="/static/img/logo.png" class="gso-logo">
                        <h3 class="title">
                            &nbsp;Vertretung
                        </h3>
                    </a>

                    <ul class="nav nav-pills flex-column">
                        {% for key, item in default['menu_items'].items() %}
                            <li class="nav-item">
                                <a href="{{ item['path'] }}" class="nav-link">
                                    <i class="{{ item['icon'] }} mr-2"></i>
                                    {{ item['name'] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="page">
                    <div class="menu topbar">
                        <div class="notifications-bell-container dropdown-center">
                            <div class="notifications-bell icon-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bell" id="message-bell"></i>
                            </div>
                            <div class="dropdown-menu">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        {% for notification in default["notifications"] %}
                                            <a class="list-group-item dropdown-item" href="{{ notification['path'] }}">{{ notification['message'] }}</a>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="logged-in-user">
                            <i class="fa-solid fa-circle-user"></i>
                            <span>{{ username }}</span>
                        </div>
                        <div class="logout-container">
                            <a href="{{ url_for('logout') }}" class="home-link">
                                <i class="fa-solid fa-right-from-bracket icon-button"></i>
                            </a>
                        </div>
                    </div>
                    <div class="content">
        {% endif %}
                        {% block content %}{% endblock %}
        {% if not hide_menu %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="overlay">
        </div>
    </body>
</html>